body {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.button {
  padding: 16px 54px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/**** ШАПКА ****/
.main-header {
  background-color: #eeeeee;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.main-header .header-logo {
  width: 160px;
  height: 65px;
}

.main-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a[href].header-logo:hover,
a[href].header-logo:focus {
  opacity: 0.8;
}

a[href].header-logo:active {
  opacity: 0.3;
}

ul.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  padding-top: 25px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 0 23px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;

  opacity: 0.3;
}
/**** КОНЕЦ ШАПКИ ****/

/**** ГЛАВНАЯ СТРАНИЦА ****/
.slider {
  background-color: #eeeeee;
}

.slider-item h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.services ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item .button {
  padding: 16px 40px;
}

.services-item:nth-child(2) .button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .button:hover,
.services-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.about-us-text .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us-text b {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-text ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-table caption {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-table tr:first-child {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.partners ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}
/**** КОНЕЦ ГЛАВНОЙ СТРАНИЦЫ ****/

/*** СТРАНИЦА МАГАЗИНА ***/
.page-title {
  background-color: #eeeeee;
}

.page-title h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.price-filter .range {
  background-color: #eeeeee;
  border-radius: 2px;
}

.price-filter label {
  line-height: 22px;
  text-transform: uppercase;
}

.price-filter input {
  box-sizing: border-box;
  padding: 8px 5px;

  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.price-filter input[value] {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
}

.grid-list label,
.features-list label {
  line-height: 20px;
}

.filter-form .button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-form .button:hover,
.filter-form .button:focus {
  background-color: #dfdfdf;
}

.filter-form .button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.catalog-sorting b {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.catalog-sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.type-sorting-list a,
.type-sorting-list .type-current {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  opacity: 0.3;
}

.type-sorting-list a:hover,
.type-sorting-list a:focus {
  opacity: 0.6;
}

.type-sorting-list a:active,
.type-sorting-list .type-current {
  opacity: 1;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item-description {
  background-color: #eeeeee;
}

.catalog-item-description h3 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-description p {
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.catalog-item-description .button {
  padding: 16px 62px;
}

.catalog-item-description .button:active {
  color: #ffffff;
}

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list a,
.pagination-list .pagination-item-current {
  line-height: 18;
  text-align: center;
  color: #000000;
  border-radius: 2px;
}

.pagination-list .pagination-item-current {
  border: 3px solid #dbdbdb;
}

.pagination-list a {
  background-color: #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;

  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
/*** КОНЕЦ СТРАНИЦЫ МАГАЗИНА***/

/**** ПОДВАЛ ****/
.contacts-info b {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts-info-text,
.contacts-info-text a {
  line-height: 18px;
  color: #666666;
}

.contacts-info .button {
  padding: 16px 45px;
}

.social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-text b {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-text p {
  line-height: 22px;
  color: #444444;
}
/**** КОНЕЦ ПОДВАЛА ****/

/**** МОДАЛЬНОЕ ОКНО ****/
.modal-contacts {
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-contacts h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.contacts-form label {
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.contacts-form input,
.contacts-form textarea {
  box-sizing: border-box;
  padding: 14px;

  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  color: #444444;

  opacity: 0.5;
}

.contacts-form input:hover,
.contacts-form textarea:hover {
  border-color: #b4b9bb;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  border-color: #000000;
}

.contacts-form input:focus::placeholder,
.contacts-form textarea:focus::placeholder {
  opacity: 1;
}

.contacts-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}
/**** КОНЕЦ МОДАЛЬНОГО ОКНА ****/
