body {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  padding: 16px 54px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/**** ШАПКА ****/
.main-header {
  background-color: #eeeeee;
}

a[href].header-logo:hover,
a[href].header-logo:focus {
  opacity: 0.8;
}

a[href].header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: #000000;

  opacity: 0.3;
}
/**** КОНЕЦ ШАПКИ ****/

/**** ГЛАВНАЯ СТРАНИЦА ****/
.slider {
  background-color: #eeeeee;
}

.slider-item h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.services ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item .button {
  padding: 16px 40px;
}

.services-item:nth-child(2) .button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .button:hover,
.services-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.about-us-text .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us-text b {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-text ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-table caption {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-table tr:first-child {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.partners ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}
/**** КОНЕЦ ГЛАВНОЙ СТРАНИЦЫ ****/

/**** ПОДВАЛ ****/
.contacts-info b {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts-info-text,
.contacts-info-text a {
  line-height: 18px;
  color: #666666;
}

.contacts-info .button {
  padding: 16px 45px;
}

.social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-text b {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-text p {
  line-height: 22px;
  color: #444444;
}
/**** КОНЕЦ ПОДВАЛА ****/

/**** МОДАЛЬНОЕ ОКНО ****/
.modal-contacts {
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-contacts h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.contacts-form label {
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.contacts-form input,
.contacts-form textarea {
  box-sizing: border-box;
  padding: 14px;

  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  color: #444444;

  opacity: 0.5;
}

.contacts-form input:hover,
.contacts-form textarea:hover {
  border-color: #b4b9bb;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  border-color: #000000;
}

.contacts-form input:focus::placeholder,
.contacts-form textarea:focus::placeholder {
  opacity: 1;
}

.contacts-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}
/**** КОНЕЦ МОДАЛЬНОГО ОКНА ****/
